.ln-ht-3{
    font-size: 2rem;
}
.service-single{
    margin-top: 20px;
    margin-bottom: 20px;
}
.service-title{
    font-weight: 600;
}
.service-feature-list > div{
    margin-top:1rem !important;
}
.service-details{
    font-size: 2rem;
    margin-left: 2rem;
}